body > div.trang-sp.chi-tiet-sp {
    font-size: 16px;
    font-family: Content-font, Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.625;
}

body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    color: #000000 !important;
}

body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul {
    list-style: none;
}

.list-title {
    border-left: none !important;
    padding-left: 0 !important;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate {
    margin-top: -9px;
}

.rate:not(:checked) > input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
}

.rate > input:checked ~ label {
    color: #f70;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd;
}

div.chi-tiet-sp .container .container-body .sp-header .slider-container {
    float: left;
    width: calc(100% - 475px);
    position: relative;
}

div.chi-tiet-sp .container .container-body .sp-header .sp-info {
    width: 475px;
}

div.chi-tiet-sp .container .container-body .sp-header .slider-container .sp-slider-small {
    margin: 0 0px;
}

div.chi-tiet-sp .container .container-body .sp-header .slider-container .sp-slider-small .prev-img {
    margin: 5px 0.5px;
}

div.chi-tiet-sp .container .container-body .sp-header .slider-container .img-item {
    height: 222px;
}

.sp-slider-big {
    width: 475px;
    height: 222px;
}

.sp-slider-small {
    width: 475px;
}

@media (min-width: 900px) {
    .prev-img {
        width: 95px !important;
    }

    .rate {
        margin-top: -9px;
        margin-left: -200px;
    }

    .btn_rate {
        width: 100%;
    }

    .btn_close_rate {
        width: 100%;
    }
}

@media (min-width: 800px) {
    .breadcrumb {
        padding-left: 0;
    }
}

@media (min-width: 1025px) and  (max-width: 1200px) {
    .bar-info-product {
        display: flex;
    }

    .bar-buy-product {
        display: flex;
    }

    div.chi-tiet-sp .container .container-body .sp-header .slider-container ,div.chi-tiet-sp .container .container-body .sp-header .sp-info, .sp-slider-big , .sp-slider-small {
        width: 100%;
    }

}

@media (min-width: 1000px) and  (max-width: 1024px) {
    .prev-img {
        width: 243px !important;
    }

    div.chi-tiet-sp .container .container-body .sp-header .slider-container ,div.chi-tiet-sp .container .container-body .sp-header .sp-info, .sp-slider-big , .sp-slider-small {
        width: 100%;
    }
}

@media (min-width: 824px) and  (max-width: 1000px) {
    .bar-info-product {
        display: flex;
    }

    .bar-buy-product {
        display: flex;
    }

    div.chi-tiet-sp .container .container-body .sp-header .slider-container ,div.chi-tiet-sp .container .container-body .sp-header .sp-info, .sp-slider-big , .sp-slider-small {
        width: 100%;
    }

    .rate {
        margin-top: -9px;
        margin-left: 0;
    }
}

@media (min-width: 769px) and  (max-width: 823px) {
    .prev-img {
        width: 250px !important;
    }

    .bar-info-product {
        display: flex;
    }

    .bar-buy-product {
        display: flex;
    }

    div.chi-tiet-sp .container .container-body .sp-header .slider-container ,div.chi-tiet-sp .container .container-body .sp-header .sp-info, .sp-slider-big , .sp-slider-small {
        width: 100%;
    }

    .rate {
        margin-top: -9px;
        margin-left: 0;
    }


    .detail_rating {
        display: block !important;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > div > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > span > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > a > img
    , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > span > img, body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > span > img
    {
        width: 100% !important;
        height: 50%;
    }

    table {
        width: 100% !important;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul {
        margin-left: -11px;
    }
}

@media (min-width: 737px) and  (max-width: 768px) {
    .prev-img {
        width: 360px !important;
    }

    .bar-info-product {
        display: flex;
    }

    .bar-buy-product {
        display: flex;
    }

    div.chi-tiet-sp .container .container-body .sp-header .slider-container ,div.chi-tiet-sp .container .container-body .sp-header .sp-info, .sp-slider-big , .sp-slider-small {
        width: 100%;
    }

    .rate {
        margin-top: -9px;
        margin-left: 0;
    }


    .detail_rating {
        display: block !important;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > div > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > span > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > a > img
    , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > span > img, body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > span > img
    {
        width: 100% !important;
        height: 50%;
    }

    table {
        width: 100% !important;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul {
        margin-left: -11px;
    }
}

@media (min-width: 668px) and  (max-width: 736px) {
    .prev-img {
        width: 142px !important;
    }

    .bar-info-product {
        display: flex;
    }

    .bar-buy-product {
        display: flex;
    }

    div.chi-tiet-sp .container .container-body .sp-header .slider-container ,div.chi-tiet-sp .container .container-body .sp-header .sp-info, .sp-slider-big , .sp-slider-small {
        width: 100%;
    }

    .rate {
        margin-top: -9px;
        margin-left: 0;
    }


    .detail_rating {
        display: block !important;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > div > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > span > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > a > img
    , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > span > img, body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > span > img
    {
        width: 100% !important;
        height: 50%;
    }

    table {
        width: 100% !important;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul {
        margin-left: -11px;
    }

}

@media (min-width: 641px) and  (max-width: 667px) {
    .prev-img {
        width: 128px !important;
    }

    .bar-info-product {
        display: flex;
    }

    .bar-buy-product {
        display: flex;
    }

    div.chi-tiet-sp .container .container-body .sp-header .slider-container ,div.chi-tiet-sp .container .container-body .sp-header .sp-info, .sp-slider-big , .sp-slider-small {
        width: 100%;
    }

    .rate {
        margin-top: -9px;
        margin-left: 0;
    }


    .detail_rating {
        display: block !important;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > div > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > span > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > a > img
    , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > span > img, body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > span > img
    {
        width: 100% !important;
        height: 50%;
    }

    table {
        width: 100% !important;
        margin-left: -33px;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul {
        margin-left: -11px;
    }

}

@media (min-width: 567px) and  (max-width: 640px) {
    .prev-img {
        width: 122px !important;
    }

    .bar-info-product {
        display: flex;
    }

    .bar-buy-product {
        display: flex;
    }

    div.chi-tiet-sp .container .container-body .sp-header .slider-container ,div.chi-tiet-sp .container .container-body .sp-header .sp-info, .sp-slider-big , .sp-slider-small {
        width: 100%;
    }

    .rate {
        margin-top: -9px;
        margin-left: 0;
    }


    .detail_rating {
        display: block !important;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > div > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > span > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > a > img
    , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > span > img, body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > span > img
    {
        width: 100% !important;
        height: 50%;
        margin-left: -23px !important;
    }

    table {
        width: 100% !important;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul {
        margin-left: -11px;
    }

}

@media (min-width: 481px) and  (max-width: 568px) {
    .prev-img {
        width: 180px !important;
    }

    .bar-info-product {
        display: flex;
    }

    .bar-buy-product {
        display: flex;
    }

    div.chi-tiet-sp .container .container-body .sp-header .slider-container ,div.chi-tiet-sp .container .container-body .sp-header .sp-info, .sp-slider-big , .sp-slider-small {
        width: 100%;
    }

    .rate {
        margin-top: -9px;
        margin-left: 0;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > div > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > span > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > a > img
    , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > span > img, body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > span > img
    {
        width: 100% !important;
        height: 50%;
    }

    table {
        width: 100% !important;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul {
        margin-left: -11px;
    }

}
@media (min-width: 376px) and (max-width: 411px) {
    .prev-img {
        width: 129px !important;
    }
}

@media (min-width: 412px) and (max-width: 480px) {
    .prev-img {
        width: 130px !important;
    }
}


@media (min-width: 376px) and (max-width: 480px) {
    div.chi-tiet-sp .container .container-body .sp-header .slider-container .sp-slider-small .prev-img {
        margin: 5px -1px;
    }

    .rate {
        margin-top: -5px;
        margin-left: 0;
    }

    .add-cart-orange {
        margin-left: 0 !important;
    }

    .rate {
        font-size: 12px;
    }

    div.chi-tiet-sp .container .container-body .sp-header .slider-container ,div.chi-tiet-sp .container .container-body .sp-header .sp-info, .sp-slider-big , .sp-slider-small {
        width: 100%;
    }

    div.chi-tiet-sp .container .container-body .sp-header .slider-container .img-item , .sp-slider-big {
        height: 150px;
    }


    .detail_rating {
        display: block !important;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > div > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > span > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > a > img
    , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > span > img, body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > span > img
    {
        width: 100% !important;
        height: 50%;
        margin-left: -30px !important;
    }

    table {
        width: 100% !important;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul {
        margin-left: -35px;
    }

    .pagination {
        float: left;
    }
}

@media (min-width: 361px) and (max-width: 375px) {
    .prev-img {
        width: 173px !important;
    }

    .rate {
        margin-top: 0;
        margin-left: 0;
        width: 100%;
    }

    .add-cart-orange {
        margin-left: 0 !important;
    }

    div.chi-tiet-sp .container .container-body .sp-header .slider-container ,div.chi-tiet-sp .container .container-body .sp-header .sp-info, .sp-slider-big , .sp-slider-small {
        width: 100%;
    }

    div.chi-tiet-sp .container .container-body .sp-header .slider-container .img-item , .sp-slider-big {
        height: 150px;
    }


    .detail_rating {
        display: block !important;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > div > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > span > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > a > img
    , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > span > img, body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > span > img
    {
        width: 100% !important;
        height: 50%;
        margin-left: -30px !important;
    }

    table {
        width: 100% !important;
        margin-left: -30px;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul {
        margin-left: -35px;
    }

    .pagination {
        float: left;
    }
}

@media (min-width: 321px)  and (max-width: 360px) {
    .prev-img {
        width: 173px !important;
    }

    .add-cart-orange {
        margin-left: 0 !important;
    }

    div.chi-tiet-sp .container .container-body .sp-header .slider-container ,div.chi-tiet-sp .container .container-body .sp-header .sp-info, .sp-slider-big , .sp-slider-small {
        width: 100%;
    }

    div.chi-tiet-sp .container .container-body .sp-header .slider-container .img-item , .sp-slider-big {
        height: 150px;
    }

    .rate {
        margin-top: -9px;
        margin-left: 0;
    }

    div.chi-tiet-sp .container .container-body .sp-header .slider-container .sp-slider-small .prev-img {
        margin: 5px -4px;
    }


    .detail_rating {
        display: block !important;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > div > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > span > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > a > img
    , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > span > img, body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > span > img
    {
        width: 100% !important;
        height: 50%;
        margin-left: -30px !important;
    }

    table {
        width: 100% !important;
        margin-left: -32px;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul {
        margin-left: -35px;
    }

    .pagination {
        float: left;
    }
}


@media (max-width: 320px) {
    .prev-img {
        width: 145px !important;
    }

    .rate {
        margin-top: 0;
        margin-left: 0;
        width: 100%;
    }

    .add-cart-orange {
        margin-left: 0 !important;
    }

    div.chi-tiet-sp .container .container-body .sp-header .slider-container ,div.chi-tiet-sp .container .container-body .sp-header .sp-info, .sp-slider-big , .sp-slider-small {
        width: 100%;
    }

    div.chi-tiet-sp .container .container-body .sp-header .slider-container .img-item , .sp-slider-big {
        height: 130px;
    }


    .detail_rating {
        display: block !important;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > div > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > img ,
    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > span > img , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > a > img
    , body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul > li > span > img, body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > p > span > img
    {
        width: 100% !important;
        height: 50%;
        margin-left: -30px !important;
    }

    table {
        width: 100% !important;
        margin-left: -35px;
    }

    body > div.trang-sp.chi-tiet-sp > div > div.container-body > div.sp-body-info > ul {
        margin-left: -40px;
    }

    .pagination {
        float: left;
    }
}

input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

#container h1, label {
    font-weight: 400;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-family: 'Roboto-Condensed-Bold';;
}

.note_rate {
    width: 100%;
    padding: 6px 15px 0 15px;
    min-height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background: white;
}

.note_rate[placeholder]:empty:before {
    content: attr(placeholder);
    color: #989898;
}

.note_rate[placeholder]:empty:focus:before {
    content: "";
}

.rate_star {
    display: flex;
    margin-top: 10px;
}

.add-cart-orange {
    margin-left: 12px;
    margin-top: 12px;
}

.start_comment {
    font-size: 8px;
    color: orange;
}

.pagination {
    float: right;
}

.info_person_commnet {
    min-height: 25px;
}

.detail_rating {
    display: flex;
}

div.chi-tiet-sp .container .container-body .sp-header .slider-container .sp-slider-small .slick-current {
    height: 62px;
    top: 4px;
}

.slick-track {
    display: flex;
}

@media (max-width: 1200px) {
    .description-container * {
        width: 100% !important;
        overflow: hidden;
    }

}

.fontSize-title {
    font-size: 30px;
    font-family: 'Roboto-Condensed-Bold';
    color: #000;
    margin: 0px;
    display: inline-block;
}

.title-detail-product {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ytp-cued-thumbnail-overlay-image {
    background-size: 100% 100%;
}

@media (min-width: 993px) {
    .slick-slide img {
        width: 100% !important;
        height: 100% !important;
    }
}

.notification-out-of-stock {
    border: 3px solid #e34e4e;
    background-color: #ffe5f0;
    color: black;
    padding: 10px;
    margin-top: 20px;
}

.notification-out-of-stock p{
    margin: 0px;
}

.add-continue {
    margin-top: 0;
    float: right;
    border-radius: 4px !important;
    margin-right: 5%;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    display: block;
}

#btn-next-page {
    float: left;
    height: 40px;
    margin-left: 5%;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    display: block;
}

#modal-noti-detail {
    padding: 20px;
}

#modal-noti-detail p {
    margin: 0px;
}

.description-container h1 *, .description-container h2 *, .description-container h3 *, .description-container h4 *, .description-container h5 *, .description-container h6 * {
    font-size: unset !important;
}

.description-container h1 b, .description-container h2 b, .description-container h3 b, .description-container h4 b, .description-container h5 b, .description-container h6 b {
    color: unset;
}

.description-container h1 {
    font-size: 24px;
    font-family: Content-font, Roboto, sans-serif;
    font-weight: 700;
    line-height: 1.5;
}

.description-container h2 {
    font-size: 20px;
    font-family: Content-font, Roboto, sans-serif;
    font-weight: 700;
    line-height: 1.5;
}

.description-container h3 {
    font-size: 16px;
    font-family: Content-font, Roboto, sans-serif;
    font-weight: 700;
    line-height: 1.5;
}

.description-container h4 {
    font-size: 15px;
}

.description-container h5 {
    font-size: 13px;
}

.description-container h6 {
    font-size: 12px;
}

.description-container {
    font-size: 16px;
}

.loadMoreComment {
    cursor: pointer;
    color: #21beff;
    text-align: left;
    width: 32%;
    margin: 20px 20px 0 20px;
}

#comment {
    margin-top: 20px;
}

/*div.editable {*/
    /*width: 300px;*/
    /*height: 200px;*/
    /*border: 1px solid #ccc;*/
    /*padding: 5px;*/
/*}*/

.description-container * {
    font-size: 16px;
}

.cau-hinh h1 *, .cau-hinh h2 *, .cau-hinh h3 *, .cau-hinh h4 *, .cau-hinh h5 *, .cau-hinh h6 * {
    font-size: unset !important;
}

.cau-hinh h1 b, .cau-hinh h2 b, .cau-hinh h3 b, .cau-hinh h4 b, .cau-hinh h5 b, .cau-hinh h6 b {
    color: unset;
}

.cau-hinh h1 {
    font-size: 24px;
    font-family: Content-font, Roboto, sans-serif;
    font-weight: 700;
    line-height: 1.5;
}

.cau-hinh h2 {
    font-size: 20px;
    font-family: Content-font, Roboto, sans-serif;
    font-weight: 700;
    line-height: 1.5;
}

.cau-hinh h3 {
    font-size: 16px;
    font-family: Content-font, Roboto, sans-serif;
    font-weight: 700;
    line-height: 1.5;
}

.cau-hinh h4 {
    font-size: 15px;
}

.cau-hinh h5 {
    font-size: 13px;
}

.cau-hinh h6 {
    font-size: 12px;
}

.cau-hinh * {
    font-size: 16px;
}

.huongdan h1 *, .huongdan h2 *, .huongdan h3 *, .huongdan h4 *, .huongdanhinh h5 *, .huongdan-hinh h6 * {
    font-size: unset !important;
}

.huongdan h1 b, .huongdan h2 b, .huongdan h3 b, .huongdan h4 b, .huongdan h5 b, .huongdan h6 b {
    color: unset;
}

.huongdan h1 {
    font-size: 24px;
    font-family: Content-font, Roboto, sans-serif;
    font-weight: 700;
    line-height: 1.5;
}

.huongdan h2 {
    font-size: 20px;
    font-family: Content-font, Roboto, sans-serif;
    font-weight: 700;
    line-height: 1.5;
}

.huongdan h3 {
    font-size: 16px;
    font-family: Content-font, Roboto, sans-serif;
    font-weight: 700;
    line-height: 1.5;
}

.huongdan h4 {
    font-size: 15px;
}

.huongdan h5 {
    font-size: 13px;
}

.huongdan h6 {
    font-size: 12px;
}

.huongdan * {
    font-size: 16px;
}

.show-text-affiliate {
    display: flex;
    flex-wrap: wrap;
}

.show-text-affiliate .not_current_affiliate {
    border-color: rgb(24, 158, 255);
    background-color: #f7f7f7;
    color: rgb(24, 158, 255);
}


.show-text-affiliate .current_affiliate {
    border-color: rgb(24, 158, 255);
    background-color: rgb(24, 158, 255);
    color: white ;
    cursor: initial;
}

.show-text-affiliate a {
    padding: 2px 12px;
    margin: 0px 10px 10px 0px;
    font-size: 13px;
}

.show-text-affiliate a:hover {
    background-color: rgb(24, 158, 255);
    color: white;
}